h1 {
    padding: 0;
    margin: 0;
    color: $gray;
}

h2{
    text-transform: uppercase;
    line-height: 1.2em;
}

h2 a {
    color: inherit;
    text-decoration: none;
}

.no-jobs-message{
    font-size: 2em;
}

li {
    font-size: 1.5em;
    line-height: 1.2em;
    list-style: none outside none;
    padding: 15px;
    border-radius: 9px;
    margin-bottom: 10px;
    position: relative;
    background: $brand-success;
}

li.failed {
    background: $brand-danger;
}

li.unstable {
    background: $brand-warning;
}

li.notbuilt {
    background: $gray;
}

li a {
    color: #ffffff;
    text-decoration: none;
}